.menuPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: black;
    background-color: rgb(220, 220, 220);
}

.menuContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.menuContainer div {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 10rem;
    height: 12rem;
    text-align: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.menuContainer div img {
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
}

.icon{
    margin-left: 8px;
}