.menuPage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #1c1c1c, #383838); /* Dégradé anthracite */
    color: #fff; /* Texte blanc pour un contraste chic */
}

.menuContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuTable {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

.menuTable td {
    border: 2px solid #b08d57; /* Bordure dorée pour un effet luxe */
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #222; /* Fond noir élégant */
    color: #eaeaea; /* Texte gris clair pour un contraste doux */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Ombre douce pour plus de profondeur */
    transition: all 0.3s ease;
}

.menuTable td:hover {
    background-color: #333; /* Couleur plus foncée au survol */
    border-color: #c49b66; /* Légère transition de la couleur dorée au survol */
    transform: translateY(-5px); /* Effet de soulèvement subtil */
}

.menuItem {
    cursor: pointer;
}
