 
.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1050px; /* Définit la largeur maximale */
  margin: 0 auto;    /* Centrer horizontalement */
}

nav{
  width: 90%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  position: fixed;
  margin-top: 0px;
  flex-wrap: wrap;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 10;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}